
#title, #certificates{
    background: radial-gradient(circle at 10% 20%, rgb(69, 86, 102) 0%, rgb(34, 34, 34) 90%);
    color: #fff;
}
.container-fluid{
    padding: 3% 13%;
}
.navbar-brand{
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Ephesis';
    color: #fff;
}
.navbar{
    font-family: 'PT Serif';
}
.navbar-toggler{
    background-color: #fff;
}

#myIntro{
    margin: auto;
}
.nav-item{
    padding: 0 15px;
    font-size: 1.5rem;
}
.nav-link{
    color: #fff;
}
.myName{
    font-family: 'Ephesis';
    font-size: 4rem;
}
.degree{
    font-family: 'Dancing Script';
}
.greetings{
    font-family: 'PT Serif';
}



#certificates{
    background: linear-gradient(109.6deg, rgb(6, 2, 2) 32.4%, rgb(137, 30, 47) 98.8%);
    text-align: center;
}
.certificates{
    font-family: 'Ephesis';
    font-size: 1.5rem;
}
.carousel-item {
    padding: 5% 13%;
}
.certificates-image{
    width: 60%;
    padding-bottom: 1%;
}
.certificateLink{
    background: linear-gradient(109.6deg, rgb(6, 2, 2) 32.4%, rgb(137, 30, 47) 98.8%);;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    font-family: 'PT Serif';
}
@media (min-width: 900px){
.certificates{
    font-size: 30px;
   }
}
