
#title{
    background: linear-gradient(to right, rgb(151,150,240),rgb(251, 199, 212));
}
.container-fluid{
    padding: 3% 13%;
}
.navbar-brand{
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Ephesis';
}
.navbar{
    font-family: 'PT Serif';
}

#myIntro{
    margin: auto;
}
.nav-item{
    padding: 0 15px;
    font-size: 1.5rem;
}
.myName{
    font-family: 'Ephesis';
    font-size: 4rem;
}
.degree{
    font-family: 'Dancing Script';
}
.greetings{
    font-family: 'PT Serif';
}

